.tourPackageDetail .search, .tourPackageDetail .mySwiper {
    display: none;
}
.tourPackageDetail {
    margin-bottom: 40px;
}
.tourPackageDetail .home-banner {
    height: 10vh;
}
.tourPackageDetail .rating-sec span:first-child {
    margin-right: unset;
    margin-left: 10px;
}
.tourPackageDetail .rating-sec span:last-child {
    margin-left: 5px;
}
.tourPackageDetail .react-multi-carousel-dot-list li {
    width: 100px;
    margin: 5px;
}
.tourPackageDetail .react-multi-carousel-dot-list li img {
    border-radius: 5px;
}

.tourPackageDetail .react-multi-carousel-dot-list {
    position: relative;
    margin-top: 5px;
}
.tourPackageDetail .firstCarousel {
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
    width: calc(100% - 150px);
}
.tourPackageDetail .secondCarousel {
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
}
.tourPackageDetail .detailed-div {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
}
.tourPackageDetail .detailed-div span {
    flex: 0 0 30.33%;
    margin: 12px;
}

.tourPackageDetail .detailed-div i {
    margin-right: 10px;
}
.tourPackageDetail .package-detail {
    display: flex;
    flex-wrap: wrap;
    margin-top: 00px;
}
.tourPackageDetail .package-detail-list {
    flex: 0 0 46.33%;
    margin: 12px 0;
    border: 1px solid #d3d3d3;
    padding: 0 16px;
}

.tourPackageDetail .inclusion-exclusion {
    display: flex;
    flex-wrap: wrap;
    margin-top: 00px;
}

.tourPackageDetail .package-detail-list p:first-child {
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}
.tourPackageDetail .package-detail-list i {
    color: red;
}

.tourPackageDetail .description {
    margin-top: 20px;
}
.tourPackageDetail hr {
    border: 1px solid black;
    /* height: 4px; */
}
.tourPackageDetail .make-package-booking button {
    background: transparent;
    color: red;
    border: none;
    float: right;
}
.tourPackageDetail .package-booking-total p span:nth-child(2) {
    float: right;
}
.tourPackageDetail .package-booking-total {
    border: 1px solid #D3D3D3;
    padding: 10px;
    border-radius: 4px;
}
.normal-hr {
    border: 1px solid !important;
}
.tourPackageDetail .package-booking {
    margin-top: 10px;
    border: 1px solid !important;
}
.tourPackageDetail .package-google-maps {
    margin-top: 60px;
}

.tourPackageDetail .package-google-maps p {
    display: flex;
}
.tourPackageDetail .box {
    border: 1px solid red;
    padding: 10px;
    color: red;
    margin-right: 10px;
}
.tourPackageDetail .package-google-maps span {
    margin-right: 10px;
}
.tourPackageDetail .package-booking-phone {
    margin-top: 60px;
}

.tourPackageDetail .overall-package-inst button {
    border: none;
    background-color: transparent;
    color: #546078;
    font-size: 19px;
}
.tourPackageDetail .overall-package-inst button a:focus {
    /* color: rgb(40, 176, 166); */
    font-weight: 500;
}
.tourPackageDetail .overall-package-inst button a {
    /* color: rgb(40, 176, 166); */
    font-weight: 500;
    font-size: 17px;
}
.tourPackageDetail .overall-package-inst i {
    /* color: rgb(40, 176, 166); */
    margin-right: 5px;
}
.tourPackageDetail .overall-package-inst {
    height: 50px;
    margin-top: 40px;
    -webkit-box-shadow: 10px 10px 70px -12px rgba(211,211,211,1);
    -moz-box-shadow: 10px 10px 70px -12px rgba(211,211,211,1);
    box-shadow: 10px 10px 70px -12px rgba(211,211,211,1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tourPackageDetail .overview {
    margin-top: 40px;
}

.accordion4{
    max-width: 530px;
    width: 100%;
    background: #FFF;
    margin: 0 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow:  0 0 4px rgba(0,0,0,0.2);
}
.accordion4 .accordion-content{
    margin: 10px 0;
    border-radius: 4px;
    background: #FFF7F0;
    border: 1px solid #FFD6B3;
    overflow: hidden;
}
.accordion-content:nth-child(2){
    background-color: #F0FAFF;
    border-color: #CCEEFF;
}
.accordion-content:nth-child(3){
    background-color: #FFF0F3;
    border-color: #FFCCD6;
}
.accordion-content:nth-child(4){
    background-color: #F0F0FF;
    border-color: #CCCCFF;
}
.accordion-content.open{
    padding-bottom: 10px;
}
.accordion-content header{
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
}
.accordion-content.open header{
    min-height: 35px;
}
.accordion-content header .title{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.accordion-content header i{
    font-size: 15px;
    color: #333;
}
.accordion-content .description{
    height: 0;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.2s linear;
}
.tourPackageDetail .itinerary-circle {
    background-color: #10a5b2;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.fa-times-circle {
    color: red;
}
.fa-check-circle {
    color: green;
}
.tourPackageDetail .room-details li {
    font-size: 14px;
}
.tourPackageDetail .room-details {
    line-height: 30px;
}

.tourPackageDetail .tour-activities {
    display: flex;
    color: #546078;
}
.tourPackageDetail .tour-activities i {
    margin-left: 10px;
    color: #546078;
}

.tourPackageDetail .activity-include {
   background-color:  rgb(228, 251, 239);
   padding: 10px;
}
.tourPackageDetail .activity-exclude {
    background-color: rgb(253, 236, 239);
    padding: 10px;
}
.tourPackageDetail .activity-include li {
    display: flex;
    align-items: center;
}
.tourPackageDetail .activity-exclude li {
    display: flex;
    align-items: center;
}

.activity-exclude i {
    margin-right: 10px;
    color: red !important;
}
.activity-include i {
    margin-right: 10px;
    color: green !important;
}

.tourPackageDetail .reverse-carousel {
    /* display: flex; */
    /* flex-direction: initial; */
}
 
.tourPackageDetail .react-multi-carousel-dot-list {
    flex-direction: column;
    width: 140px;
    height: 400px;
    overflow-y: auto;
    margin-top: 20px;
    overflow-x: hidden;
}

.tourPackageDetail .scrollTo {
    color: unset;
    text-decoration: none;
}
.tourPackageDetail .packages_stay_header {
    display: flex;
    background-color: #ebeef2;
    color: #111111;
    padding: 10px 20px;
    justify-content: space-between;
}
.tourPackageDetail .packages_stay_header h5 {
    font-size: 18px;
    margin-bottom: 0;
}
.tourPackageDetail .packages_stay_header h6 {
    font-size: 16px;
    font-weight: 400;
}

.tourPackageDetail .packages_stay_header h6 span {
    color: #10a5b2;
    margin-left: 10px;
}
.tourPackageDetail .packages_stay_header button {
    border: 1px solid #d3d3d3;
    color: #111111;
    font-weight: 500;
}
.tourPackageDetail .packages_stay_header button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1px 10px;
}
.tourPackageDetail .packages_stay_header button:nth-child(2) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.tourPackageDetail .packages_stay {
    border: 1px solid #10a5b2;
    margin-top: 40px;
    border-radius: 2px;
}
.tourPackageDetail .packages_stay_hotel {
    display: flex;
}
.tourPackageDetail .packages_stay_hotel_carousel {
    height: 100%;
    width: 300px;
    border-radius: 0px;
    margin-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
}
.tourPackageDetail .packages_stay_hotel_details div:first-child {
    justify-content: space-between;
}
.tourPackageDetail .packages_stay_hotel_details p {
    margin-bottom: 0px;
    margin-top: 10px;
    color: #999;
}
.tourPackageDetail .packages_stay_hotel_details span {
    color: #666666;
    font-weight: 500;
}
.tourPackageDetail .packages_stay_hotel_room_facility{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tourPackageDetail .packages_stay_hotel_room_facility span {
    flex: 0 0 30.33%;
    margin: 7px;
}
.tourPackageDetail .packages_stay_hotel_room_facility span i {
    color: #10a5b2;
    margin-right: 5px;
}
.packages_stay_hotel_details .rating-sec .checked {
    color: green;
}
.tourPackageDetail .packages_stay_header span {
    color: #10a5b2;
    font-weight: bold;
}
.tourPackageDetail .packages_stay_header button {
    color: #10a5b2;
}


.tourPackageDetail .packages_flights {
    align-items: center;
    justify-content: space-around;
}
.tourPackageDetail .packages_flights img {
    height: 100px;
    width: 100px;
}

.tourPackageDetail .packages_flights p {
    margin-bottom: 0;
    font-weight: 600;
}
.tourPackageDetail .packages_flights span {
    margin-bottom: 0;
    font-size: 14px;
}
.packages_stay_hotel .react-multiple-carousel__arrow--left {
    top: 8px !important;
    right: calc(14% + 1px) !important;
}
.packages_stay_hotel .react-multiple-carousel__arrow--right {
    right: calc(1% + 1px) !important;
    top: 8px !important;
}

@media screen and (max-width: 600px) {
    .overall-package-inst {
        display: block !important;
        margin-top: 35px !important;
        line-height: 40px;
        height: 130px !important;
        margin-bottom: 60px;
    }

    .tourPackageDetail .packages_stay_header {
        flex-direction: column;
    }
    .tourPackageDetail .packages_stay_header div:nth-child(2) {
        margin-top: 10px;
    }
    .tourPackageDetail .packages_flights {
        flex-wrap: wrap;
    }
    .tourPackageDetail .packages_flights div {
        width: 50%;
        text-align: center;
        padding: 5px;
    }
    .tourPackageDetail .packages_flights img {
        height: 50px;
        width: 50px;
    }
    .tourPackageDetail .packages_flights {
        padding: 20px;
    }
    .tourPackageDetail .change-flex-direction {
        flex-direction: column;
        padding: 20px;
    }


    .packages_stay_hotel .react-multiple-carousel__arrow--left, .packages_stay_hotel .react-multiple-carousel__arrow--right {
        top: 0 !important;
    }

    .tourPackageDetail .packages_stay_hotel_room_facility span {
        flex: 0 0 50%;
        margin: 0;
    }

    .packages_stay_header button {
        margin-top: 10px;
    }
    .packages_stay .change-margin {
        margin-top: 10px;
    }
}