.swiper {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .mySwiper {
    z-index: 0 !important;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 450px !important;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 450px;
    cursor: pointer;
  }
  .header-images-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 20px;
    padding-top: 40px;
    font-weight: 500;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    height: 125px;
    width: 100%;
    padding-left: 20px;
  }
  
  .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  .show-button-hover:hover .overlay2 {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  .button-hover {
    position: absolute;
    width: 500px;
    left:-100px;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button-hover a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border-radius: 25px;
    border: solid 2px white;
    z-index: 1;
  }
  .button-hover a:hover {
    color: white;
  }
  
  .show-button-hover:hover .button-hover {
    opacity: 1;
  }
  .tilt-images {
    cursor: pointer;
  }